<!DOCTYPE html>
<html>
<head>
    <title>Game test</title>
    <script type="text/javascript" src="/assets/game.js"></script>
    <script type="text/javascript" src="/assests/boot.js"></script>
    <script type="text/javascript" src="/assests/load.js"></script>
    <script type="text/javascript" src="/assets/play.js"></script>
</head>
<body>

    <div id="gameDiv"> </div>
</body>
</html>




